<div>
    <button class="btn btn-primary" ui-sref="home">Tagasi pealehele</button>
    <h2>Toodete lõpetamine</h2>
    <br/>
        <table class="table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="code"><span>Toote kood</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Toote nimetus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Toote kirjeldus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span>Hind €</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productState"><span>Toote seisund</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registrationDate"><span>Reg. aeg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="alert-primary">
                    <td><input style="width:100%;" type="text" ng-model="vm.productView.code" placeholder="Koodi järgi"></td>
                    <td><input style="width:100%;" type="text" ng-model="vm.productView.name" placeholder="Nimi järgi"></td>
                    <td><input style="width:100%;" type="text" ng-model="vm.productView.description" placeholder="Kirjelduse järgi"></td>
                    <td><input style="width:100%;" type="text" ng-model="vm.productView.price" placeholder="Hinna järgi"></td>
                    <td><input style="width:100%;" type="text" ng-model="vm.productView.productState" placeholder="Seisundi järgi"></td>
                    <td><input style="width:100%;" type="text" ng-model="vm.productView.registrationDate" placeholder="Kuupäeva järgi"></td>
                    <td></td>
                </tr>
                <tr ng-repeat="productView in vm.productViews | filter:vm.productView">
                    <td>{{productView.code}}</td>
                    <td>{{productView.name}}</td>
                    <td>{{productView.description}}</td>
                    <td>{{productView.price}}</td>
                    <td ng-init="state = productView.productState">
                        <span class="badge"
                                  ng-class="{
                      'alert-warning': state === 'Ootel',
                      'alert-success': state === 'Aktiivne',
                      'alert-info': state === 'Mitteaktiivne',
                      'alert-danger': state === 'Lõpetatud'
                      }">{{productView.productState}}</span>
                    </td>
                    <td>{{productView.registrationDate | date:'mediumDate'}}</td>
                    <td><button type="submit"
                                ui-sref="product-end-view.delete({code:productView.code})"
                                class="btn btn-danger btn-sm">Lõpeta</button></td>
                </tr>
            </tbody>
        </table>
    <script type="text/ng-template" id="paging.tpl">
        Näidatud kokku {{((vm.page - 1) * vm.itemsPerPage) == 0 ? 1 : ((vm.page - 1) * vm.itemsPerPage + 1)}} -
        {{((vm.page * vm.itemsPerPage) < vm.queryCount) ? (vm.page * vm.itemsPerPage) : vm.queryCount}}
        {{vm.queryCount}} - st tootest.
    </script>
    <div class="text-center" ng-include="'paging.tpl'"></div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
